.custom-navbar {
    background-color: $primary-color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

// Links NavBar
.custom-link {
    color: $secondary-color;
    transition: background-color 0.3s, color 0.3s;
  
    &:hover {
        background-color: $secondary-color;
        color: $primary-color;
        transform: translateY(-5px);
        box-shadow: 0 4px 8px $hover-color;
    }
  }